$main-color: #E9463F;

body {
  background: #fdfdfd;
  padding-bottom: 40px;
}

a,
a:active,
a:visited,
a:focus {
  color: $main-color;
}

a:hover {
  color: darken($main-color, 20);
}

h2, h3, h4 {
  margin-top: 50px;
  color: $main-color;
}

.Header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  background: #fff;
  padding: 20px 0;
}

.Content {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 840px;
}

// DEMOS

.DemoOne {
  position: fixed;
  right: 100px;
  bottom: 100px;
  transform: translateY(230px);
  height: 130px;
  width: 130px;

  img {
    height: 100%;
    width: 100%;
  }

  &.Plx--bellow {
    position: absolute;
  }
}
