// ------ COlor
$white: #fff;
$black: #131517;
$grey: #ddd;
$grey-light: #f3f3f5;
$red: #e34e46;
$blue: #409ad7;
$green: #34ba9c;
$yellow: #efc241;
$bg-color: #fdfdfd;

// ------ Breakpoints
$breakpoint-md: 600px;
$breakpoint-lg: 900px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;
$breakpoint-xxxl: 2100px;

@mixin md() { @media (min-width: $breakpoint-md) { @content; } }
@mixin lg() { @media (min-width: $breakpoint-lg) { @content; } }
@mixin xl() { @media (min-width: $breakpoint-xl) { @content; } }
@mixin xxl() { @media (min-width: $breakpoint-xxl) { @content; } }
@mixin xxxl() { @media (min-width: $breakpoint-xxxl) { @content; } }

html {
  font-size: 10px;

  @include xxl {
    font-size: 12px;
  }

  @include xxxl {
    font-size: 14px;
  }
}

body {
  background: $bg-color;
  font-size: 1.8rem;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

a,
a:active,
a:visited,
a:focus {
  border-bottom: 1px solid $grey;
  color: $black;
}

a:hover {
  color: $red;
}

code {
  background: none;
  border: 0;
  font-size: 0.9em;
  padding: 0;
}

h1 {
  color: $blue;
  margin-bottom: 5rem;
}

h2,
h3,
h4 {
  margin-top: 5rem;
}

.Examples {
  color: $red;
  margin-top: 2rem;

  @include md {
    margin-top: 0;
  }
}

.Content {
  margin: 0 auto;
  max-width: 60rem;
  padding: 5rem 2rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.Footer {
  background: $grey-light;
  margin-top: 30rem;
  padding: 10vh 0;

  @include md {
    padding: 20vh 0;
  }

  h1 {
    font-size: 4em;
    margin: 0;
  }

  h2 {
    font-size: 2.4em;
    margin: 0 0 5rem;
  }

  button {
    background: none;
    border: 1px solid rgba($black, 0.25);
    border-radius: 5rem;
    color: $black;
    cursor: pointer;
    padding: 1.1rem 2rem;
    transition: border 250ms;

    &:hover,
    &:focus {
      border: 1px solid $black;
    }
  }
}

.Footer-links {
  margin: 1rem 0 5rem;

  a {
    font-size: 2rem;
    margin: .5rem;
    padding: 0.4rem 0;
  }
}

// DEMOS

.Demo {
  text-align: center;
}

.Explosion {
  height: 24rem;
  margin: 0 auto 10rem;
  position: relative;
  width: 24rem;
}

.Explosion-box {
  background: $grey;
  border-radius: 0.3rem;
  float: left;
  height: 5.4rem;
  margin: 0.3rem;
  width: 5.4rem;
}

$phone-ratio: 2.01;

.Phone {
  height: 15rem * $phone-ratio;
  margin: 0 auto;
  position: relative;
  transform: rotate(90deg) scale(0);
  width: 15rem;

  @include md {
    height: 25rem * $phone-ratio;
    width: 25rem;
  }
}

.Phone-svg {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 10;
}

.Phone-content {
  height: 74%;
  left: 8%;
  overflow: hidden;
  position: absolute;
  top: 13.5%;
  width: 85%;
  z-index: 0;
}

.Phone-contentPlx {
  background: $blue;
  height: 100%;
  width: 100%;
}

.Phone-contentSection {
  background: $red;
  color: $white;
  font-size: 3rem;
  font-weight: 300;
  height: 100%;
  padding-top: 75%;
  text-align: center;
  width: 100%;

  &:nth-child(2) { background: $blue; }
  &:nth-child(3) { background: $green; }

  @include md {
    font-size: 5rem;
  }
}

.Links {
  border-radius: 50%;
  height: 12rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  width: 12rem;

  @include md {
    bottom: 50px;
    position: fixed;
    right: 50px;
  }
}

.Links-plx {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 250ms;
  width: 100%;
  z-index: 0;

  &.Plx--below,
  &.Plx--below + .Links-content {
    opacity: 0;
  }
}

.Links-circle {
  background: $blue;
  border-radius: 50%;
  height: 1rem;
  position: absolute;
  top: -0.5rem;
  transform: translate3d(0, 0, 0);
  width: 1rem;

  &:nth-child(1) {
    left: 50%;
    margin-left: -0.5rem;
  }

  &:nth-child(2) {
    background: $red;
    left: 0.2rem;
    top: 70%;
  }

  &:nth-child(3) {
    background: $yellow;
    right: 0.2rem;
    top: 70%;
  }
}

.Links-content {
  position: relative;
  text-align: center;
  transition: opacity 250ms;
  z-index: 10;

  a {
    display: inline-block;
    line-height: 1.2em;
    margin: 0.2rem;
  }
}

.StickyText {
  bottom: 0;
  left: 0;
  max-width: 54rem;
  opacity: 0;
  padding: 0 2rem;
  position: fixed;
  width: 100%;

  @include md {
    left: auto;
    padding: 0;
  }

  h2 {
    margin: 0;
    transform: translateY(50%);
  }
}

.StickyText-trigger {
  margin-top: 50vh;
}
